.item{
    color: yellowgreen;
    text-align: left;
    margin: 20px;
}

.item img {
    width: 50px;
    border: black;
    height: 80px;
    border-radius: 30px;
}

.postsBlock {
    padding: 50px;
}

h3{
    color: black;
}

