.site-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-areas: 'h h' 'n c';
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;

}

.header {
    background-color: aqua;
    grid-area: h;
}

